<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetShop Feliz</title>
    <link rel="stlesheet" href="public/styles.css">
    </head>
    <body>
<%- include("./partials/cabeçalho.ejs") %>
<%- include("./partials/menu.ejs") %>
<main> <h1>O melhor para o seu pet!</h1>
    <p>Oferecemos serviços de banho, tosa, consultas veterinárias e muito mais.</p>
    <main>

<%- include("./partials/rodape.ejs") %>
    </body>
    </html>
